@use "../abstracts" as *;

.btn {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;

  &-text {
    padding: 1.2rem;
    max-width: 28rem;
    font-size: $medium-font-size;
    border-radius: 8px;
    color: $color-white;
    background-color: $color-secondary;
    width: 100%;
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
  &-attach:hover,
  &-arrow:hover {
    opacity: 0.7;
  }

  &:disabled,
  &[disabled] {
    background-color: $color-grey-light-2;
    color: $color-grey-dark-1;
    cursor: default;
    display: none;
  }
}
