@use "../abstracts" as *;

.chat-sidebar {
  max-width: 31rem;
  background-color: $color-grey-light-3;

  &__header {
    padding: 2.1rem 1rem 2.3rem;
  }

  &__profile-menu {
    text-align: right;
  }

  &__search {
    margin: 0 1rem;
    padding-bottom: 1.4rem;
    border-bottom: $separator;
  }

  &__add-chat-input,
  &__search-input {
    width: 100%;
    background-color: $color-grey-light-2;
    padding: 0.85rem;
    font-size: $default-font-size;
    border-radius: 0.5rem;
    text-align: center;

    &::placeholder {
      color: $color-grey-dark-1;
    }
  }

  &__add-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__add-chat-wrapper {
    width: calc(100% - 2rem);
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
}
