.footer {
  position: absolute;
  padding: 1.5rem;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;

  &__navigation {
    gap: 2rem;
    display: flex;
    margin: 0 auto;
  }

  a.active {
    text-decoration: underline;
  }
}
