@use "../abstracts" as *;

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: $medium-font-size;
  margin: 0;

  &__line {
    border-bottom: $separator;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;

    &:last-child {
      margin-bottom: 5rem;
      border-bottom: none;
    }
  }
}
