@use "../abstracts" as *;

.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: $medium-font-size;
  margin: 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    border-bottom: $separator;

    &:last-child {
      margin-bottom: 5rem;
      border-bottom: none;
    }
  }

  &__value {
    color: $color-grey-dark-1;
    text-align: right;
    margin: 0;
    padding-right: 1px;
  }

  input:focus {
    color: $color-primary;
  }

  &__submit {
    @include centered;
  }
}
