$color-primary: #1e1e1e;
$color-secondary: #3369f3;
$color-secondary-dark: #0030aa;
$color-secondary-light: #e4edfd;
$color-tertiary: #ff2f2f;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eaeaea;
$color-grey-light-2: #efefef;
$color-grey-light-3: #fbfbfb;
$color-grey-light-4: #f8f8f8;

$color-grey-dark-1: #999999;
$color-grey-dark-2: #52525280;

$default-font-size: 1.2rem;
$medium-font-size: 1.3rem;
$small-font-size: 0.9rem;

$own-message-radius: 1.2rem 0 1.2rem 1.2rem;
$companion-message-radius: 0 1.2rem 1.2rem 1.2rem;
$separator: 1px solid $color-grey-light-1;
