@use "../abstracts" as *;

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  overflow: auto;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-bottom: 6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  &__container,
  &__actions {
    width: 51rem;
  }
}

.navigation-bar {
  min-width: 6.4rem;
  background-color: $color-grey-light-3;
  border-right: $separator;
  display: flex;
  @include centered;

  &__link {
    background: $color-grey-light-3 url(/images/icon-arrow-left.svg) no-repeat
      center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;

    &:hover {
      background-color: rgba($color-black, 0.1);
    }
  }
}
