<main class="main">
  <div class="login-box login-box--sign-up">
    <h1 class="heading-primary">Регистрация</h1>
    <form class="form" action="#">
      <div class="form__fields">
        {{> FormGroup
          label="Почта"
          nameAttr="email"
          type="email"
        }}
        {{> FormGroup
          label="Логин"
          nameAttr="login"
          type="text"
        }}
        {{> FormGroup
          label="Имя"
          nameAttr="first_name"
          type="text"
        }}
        {{> FormGroup
          label="Фамилия"
          nameAttr="second_name"
          type="text"
        }}
        {{> FormGroup
          label="Телефон"
          nameAttr="phone"
          type="tel"
        }}
        {{> FormGroup
          label="Пароль"
          nameAttr="password"
          type="password"
        }}
        {{> FormGroup
          label="Пароль ещё раз"
          nameAttr="passwordRepeat"
          type="password"
        }}
      </div>
      <div class="form__submit">
        {{> Button class="btn-text" text="Зарегистрироваться"}}
        {{> Link class="link--small sign" href="#" text="Войти" data-page="signIn"}}
      </div>
    </form>
  </div>
</main>
{{> Footer}}
