<div class="page-wrapper">
  <aside class="navigation-bar">
    {{> Link href="#" title="Назад" class="navigation-bar__link btn-arrow" data-page="profile" text="назад" }}
  </aside>

  <main class="profile">
    <section class="profile__header">
      <div class="userpic">
        {{#if userData.avatar}}{{> Avatar userData}}{{/if}}
        {{> Input id="avatar-input" name="avatar" type="file" hidden=true }}
        <label class="userpic__button" for="avatar-input"><span>Поменять аватар</span></label>
      </div>
      {{> DisplayName userData class="profile__name" }}
    </section>

    <section class="profile__info">
      {{> ChangePasswordForm }}
    </section>


  </main>
</div>
{{> Footer}}
