@use "../abstracts" as *;

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

h1,
h2,
h3 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

input {
  outline: none;
  border: none;
}

input:autofill,
textarea:autofill,
select:autofill {
  color: inherit;
  -webkit-text-fill-color: currentColor;
  box-shadow: 0 0 0 100rem $color-white inset;
}

input:focus::placeholder {
  color: transparent;
  opacity: 0;
  visibility: hidden;
}

.main {
  @include centered;
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  display: flex;
  max-width: 128rem;
  margin: 3rem auto;
  box-shadow: 0px 0px 6px 0px rgba($color-black, 0.14);
  height: calc(100vh - 7rem);
  overflow-y: auto;
}
